* {
        box-sizing: border-box; /* google THIS*/
}
#app {
        display: flex;
        
        justify-content: center;
        flex-direction: column;
        border: 1px solid black;
}
#header {
        border: 1px solid black;
}
#insta-image {
        border: 1px solid black;
}
#container-text {
        border: 1px solid black;
}
#footer-category-images {
        display: flex;
        justify-content: center;
        flex-direction: row;
        border: 1px solid black;
}
/* .square{

        width: 100px;
        height: 100px;
        background-color: rgba(247, 136, 11, 0.966);
        border: 1px solid rgb(255, 232, 21);
    
} */
